Filter [xhul filter]
Version [3.3.B]
PoEVersion [3.3]
LastUpdate [8 august 2018]
ForumThread [https://www.pathofexile.com/forum/view-thread/1787522]
Presets
Preset "endgame" DEFAULT [xhul-endgame] [https://github.com/xhul-github/xhul-filter/raw/master/xhul-endgame.filter]
Preset "hybrid" [xhul-hybrid] [https://github.com/xhul-github/xhul-filter/raw/master/xhul-hybrid.filter]
Preset "leveling" [xhul-leveling] [https://github.com/xhul-github/xhul-filter/raw/master/xhul-leveling.filter]
Preset "test1" [test1] [https://github.com/xhul-github/xhul-filter/raw/master/test1.filter]
Preset "test2" [test2] [https://github.com/xhul-github/xhul-filter/raw/master/test2.filter]
