Filter [xhul filter]
Version [2.6.C]
LastUpdate [21.06.2017]
PoEVersion [2.6.X]
ForumThread [https://www.pathofexile.com/forum/view-thread/1787522]
SmartBlocks on
SmartColors on
Presets
	Preset "default" DEFAULT [xhul-default] [https://github.com/xhul-github/xhul-filter/raw/master/xhul-default.filter]
	Preset "hybrid" [xhul-hybrid] [https://github.com/xhul-github/xhul-filter/raw/master/xhul-hybrid.filter]
	Preset "nohide" [xhul-nohide] [https://github.com/xhul-github/xhul-filter/raw/master/xhul-nohide.filter]
