Filter [xhul filter]
Version [3.0.B]
PoEVersion [3.0.X]
LastUpdate [September 6, 2017]
ForumThread [https://www.pathofexile.com/forum/view-thread/1787522]
Presets
	Preset "default" DEFAULT [xhul-default] [https://github.com/xhul-github/xhul-filter/raw/master/xhul-default.filter]
	Preset "hybrid" [xhul-hybrid] [https://github.com/xhul-github/xhul-filter/raw/master/xhul-hybrid.filter]
	Preset "nohide" [xhul-nohide] [https://github.com/xhul-github/xhul-filter/raw/master/xhul-nohide.filter]
	Preset "test" [xhul-test] [https://github.com/xhul-github/xhul-filter/raw/master/xhul-test.filter]
